 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a recent graduate of the University of Virginia, where I obtained my PhD in Astronomy. I am currently a student at <a href="https://www.thisismetis.com/bootcamps/online-machine-learning-bootcamp"> Metis</a>, where I am completing the Data Science and Machine Learning Bootcamp.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="downloads/LewisH_Resume.pdf" download="LewisH_resume" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resum&eacute;
                    </a>
                </div>
            </div>
        </div>
    </section>
